
/* General reset */
.products{
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;;
    padding: 20px;
}
.product{
    flex-grow: 1;

}